@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

.perspective {
  perspective: 1000px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar for Tailwind v3 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6; /* gray-100 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ec4899; /* pink-500 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #db2777; /* pink-600 */
}
